.el-menu {
	border-right: none;
	background-color: #001529;
	color: #FFFFFF;
	
	.el-menu-item:not(.is-active) {
		color: #CCCCCC;
	}
	
	.el-menu-item:hover {
		color: #FFFFFF;
		background-color: #001529;
		background-image: linear-gradient(90deg, #0f83fc, transparent) !important;
	}
	
	.el-menu-item.is-active {
		color: #FFFFFF;
		background-image: linear-gradient(90deg, #0f83fc, transparent) !important;
	}
	
	.el-menu-item:hover:not(.is-active) {
		color: #FFFFFF;
	}
	
	.el-menu-item:focus {
		background-color: #001529;
	}
}

.el-form-item__label {
	color: #909bd4;
}

.el-input__inner {
	background-color: #19203b;
	border: 1px solid #09122d;
	color: #FFFFFF;
}

.el-input-group__append {
	background-color: #19203b;
	border: 1px solid #09122d;
	color: #909bd4;
	border-left: none;
}

.el-button:not(.el-button--primary,.el-button--danger,.el-button--warning,.el-button--success) {
	background: transparent;
	color: #FFFFFF;
	border: 1px solid #3c3f4d;
}

.el-button:active:not(.el-button--primary,.el-button--danger,.el-button--warning,.el-button--success),
.el-button:focus:not(.el-button--primary,.el-button--danger,.el-button--warning,.el-button--success),
.el-button:hover:not(.el-button--primary,.el-button--danger,.el-button--warning,.el-button--success) {
	background: transparent;
	border-color: #61667c;
	color: #0f83fc;
}

.el-button--primary {
	background: #409eff;
	color: #FFF;
	border-color: #409eff;
	// background: linear-gradient(180deg,#474a61,#353647);
	// box-shadow: inset 0 1px 2px 0 hsla(0,0%,100%,.5),1px 1px 2px 0 rgba(0,0,0,.1);
	// border-radius: 4px;
	// border: 1px solid #252738;
}

.el-button--danger {
    color: #FFF;
    background-color: #F56C6C;
    border-color: #F56C6C;
}

.el-button--warning {
    color: #FFF;
    background-color: #E6A23C;
    border-color: #E6A23C;
}

.el-button--success {
    color: #FFF;
    background-color: #67C23A;
    border-color: #67C23A;
}

.el-button--primary.is-plain {
	background: #001529;
}

.el-button--mini {
	padding: 4px 8px;
}

.el-loading-mask {
	background-color: rgba(200, 200, 200, .3);
}

.el-select-dropdown {
	background-color: #191b2c;
	border: 1px solid #474856;
	
	.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
		background-color: #191b2c;
	}
	
	.el-select-dropdown__item.selected {
		color: #409EFF;
	}
	
	.el-select-dropdown__item {
		color: #C0C4CC;
	}
	
	.el-select-dropdown__item.is-disabled {
		color: #606266;
	}
}

.el-popover {
	.el-popover__title {
		color: #dc6c5f;
	}
}

.el-tree {
	background: #191b2c;
	border: 1px solid #474856;
	color: #FFFFFF;
	
	.el-tree-node__content:hover {
		background-color:#00315f !important;
	}
	
	.el-tree-node.is-current>.el-tree-node__content {
		background-color:#00315f !important;
	}
}

.el-picker-panel {
	background: #191b2c;
	border: 1px solid #474856;
	color: #FFFFFF;
	
	.el-picker-panel__icon-btn {
		color: #FFFFFF;
	}
	
	.el-date-picker__header-label {
		color: #FFFFFF;
	}
	
	.el-date-table th {
		color: #FFFFFF;
	}
	
	.el-date-table td.disabled div {
		background-color: #001529;
		color: #606266;
	}
	
	td.next-month, td.prev-month {
		color: #888888;
	}
}

.el-popper[x-placement^=bottom] .popper__arrow {
	border-bottom-color: #474856;
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
	border-bottom-color: #191b2c;
}

.el-popper[x-placement^=top] .popper__arrow {
	border-top-color: #474856;
}

.el-popper[x-placement^=top] .popper__arrow::after {
	border-top-color: #191b2c;
}

.el-table {
	color: #FFFFFF;
	
	thead {
		color: #FFFFFF;
	}
	
	tbody tr:hover>td {
		background-color:#001529 !important;
	}
	
	tr {
		background-color: #292b3c;
	}
	
	th.el-table__cell {
		background-color: #292b3c;
	}
	
	td.el-table__cell, th.el-table__cell.is-leaf {
		border-bottom: 1px solid #001529;
	}
	
	.el-table__expand-icon {
		color: #FFFFFF;
	}
}

.el-table {
	background-color: #292b3c;
}

.el-table__expanded-cell {
	background-color: #212231;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
	background-color: #292b3c;
}

.el-table__row--level-1 {
	background-color: #393c4f !important;
}

.el-pagination {
	color: #FFFFFF;
	
	button:disabled {
		background-color: #19203b;
		color: #556266;
	}
	li {
		background-color: #19203b;
	}
	
	li.btn-quicknext, li.btn-quickprev {
		color: #FFFFFF;
	}
	
	.btn-next, .btn-prev {
		background: center center no-repeat #19203b;
		color: #FFFFFF;
	}
	
	.el-pagination__total, .el-pagination__jump {
		color: #FFFFFF;
	}
	
	.el-pagination__total {
		margin-right: 2px;
	}
	
	.el-pagination__jump {
		margin-left: 10px;
	}
	
	.el-pagination__sizes {
		margin: 0 2px 0 0;
	}
}

.el-dialog {
	background-color: #292b3c;
	
	.el-dialog__title {
		color: #FFFFFF;
	}
	
	.el-dialog__headerbtn .el-dialog__close {
		color: #FFFFFF;
	}
	
	.el-dialog__body {
		color: #FFFFFF;
	}
}

.el-popover {
	background-color: #191b2c;
	border-color: #474856;
	color: #FFFFFF;
}

.el-message-box {
	background-color: #292b3c;
	border: 1px solid #001529;
	
	.el-message-box__title {
		color: #FFFFFF;
	}
	
	.el-message-box__headerbtn {
		.el-message-box__close {
			color: #FFFFFF;
		}
	}
	
	.el-message-box__content {
		color: #FFFFFF;
	}
}

.el-collapse {
	border-top: #001529;
// #292b3c
	.el-collapse-item__header {
		background-color: #373849;
		color: #FFFFFF;
		border: 1px solid #001529;
		padding-left: 12px;
		border: none;
		border-bottom: 1px solid #001529;
	}
	
	.el-collapse-item__wrap {
		background-color: #001529;
		border-bottom: #001529;
		
		.el-collapse-item__content {
			padding-bottom: 0;
			color: #FFFFFF;
		}
	}
}

.el-radio-group {
	display: block;
	vertical-align: baseline;
	line-height: normal;
	font-size: 12px;
}

.el-slider__runway {
	background-color: #393c4f;
}

.el-slider__button {
	background-color: #909bd4;
}

.content-none-data {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	font-size: 20px;
	color: #909399;
}

.vc-container {
	border: none !important;
	border-radius: 0 !important;
}

.btn-text {
	color: #2bb4fa;
	cursor: pointer;
}

@font-face {
  font-family: "Digital Numbers";
  src: url('../DigitalNumbers.ttf');
}

.common-form-item {
	display: flex;
	align-items: center;
	margin: 4px 0;
	margin-right: 30px;
	
	.common-form-label {
		min-width: 70px;
		text-align: right;
		color: #909bd4;
	}
	
	.common-form-value {
		margin-left: 16px;
		font-weight: 800;
	}
}

.bg-status {
	padding: 4px 0;
	width: 100px;
	text-align: center;
	border-radius: 3px;
}

.bg-0 {
	color: rgb(79, 89, 104);
	background-color: rgba(79, 89, 104, 0.3);
	border: 1px solid rgba(79, 89, 104, .8);
}

.bg-1 {
	color: rgb(64, 158, 255);
	background-color: rgba(64, 158, 255, .3);
	border: 1px solid rgba(64, 158, 255, .8);
}

.bg-2 {
	color: rgb(103, 194, 58);
	background-color: rgba(103, 194, 58, .3);
	border: 1px solid rgba(103, 194, 58, .8);
}

.bg-3,.bg-4,.bg-5,.bg-6 {
	color: rgb(230, 162, 60);
	background-color: rgba(230, 162, 60, .3);
	border: 1px solid rgba(230, 162, 60, .8);
}

.bg-8,.bg-9 {
	color: rgb(170, 170, 255);
	background-color: rgba(170, 170, 255, .3);
	border: 1px solid rgba(170, 170, 255, .8);
}

.bg-7 {
	color: rgb(245, 108, 108);
	background-color: rgba(245, 108, 108, .3);
	border: 1px solid rgba(245, 108, 108, .8);
}

.form-box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -12px;

	.form-box-item {
		min-width: 200px;
		display: flex;
		align-items: center;
		margin-bottom: 12px;

		.form-box-item-label {
			font-size: 16px;
			width: 110px;
			text-align: right;
			margin-right: 18px;
			color: #909bd4;
		}
	}
}